<div>
    <label>Nome do filme:</label><br>
    {{filmeInput.nameFilme}}
    <br>
    <br>
    <label>Descrição:</label><br>
    {{filmeInput.descricao}}
    <br>
    <br>
    <label>Ator Principal:</label><br>
    {{filmeInput.atorPrincipal}}
    <br>
    <br>
    <label>Ano de Lançamento:</label><br>
    {{filmeInput.anoLancamento}}
    <br>
    <br>
    <label>Bilheteria:</label><br>
    {{filmeInput.bilheteriaCinema}}
    <br>
    <br>
    <label>Diretor do filme:</label><br>
    {{filmeInput.diretor}}
    <br>
    <br>
    <label>Streaming pos cinema:</label><br>
    {{filmeInput.streamingPosCinema}}
    <br>
    <br>
</div>

